<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="navigation">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="http://www.aljuta.com">Aljuta</a></li>
                        <li role="presentation"><a href="#" th:href="@{/skrajutes}">Skrajutės siuntimas</a></li>
                        <li role="presentation"><a href="#" th:href="@{/pasto-duomenys}">Pašto nustatymai</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">Aljuta - Administracinė platforma</h3>
            </div>
        </div>

    </body>
</html>